body{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #000;
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

button, button:active, button:visited, button:focus {
    font-size: .875em;
    padding: .75em 1.3em;
    background: #3e433e;
    color: #fff;
    border: 0;
    margin: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-box-shadow: 0;
    -webkit-appearance: none;
}

button:hover {
    background: #089e00;
    color: #fff;
}


#spritz_holder{
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    background-color: #ffffff;
    min-height: 166px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999999;
}

#spritz_spacer{
    width: 100%;
    min-height: 210px;
}

#spritz_container{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #ffffff;
    line-height: 43px;
}

#spritz_container input{
    width: 100%;
}

#spritz_result{
    text-align: left;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 98px;
    min-height: 40px;
}

#guide_top{
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #DDDDDD;
}

#guide_bottom{
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #DDDDDD;
}

#notch{
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #DDDDDD;    
    margin-top: 9px;
    padding-top: 12px;
}

#spritz_credits{
    float: right;
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 13px;
}

#spritz_credits a{
    color: #dddddd;
    text-decoration: none;
}

#spritz_selector{
    float: left;
    width: auto;
}

.invisible{
    font-family: 'Droid Sans Mono', sans-serif;
    color: #ffffff;
}

.start{
    color: #333333;
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
}
.pivot{
    color: #DE0000;
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
}
.end{
    color: #333333;
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
}

.spritz_start{
    color: #333333;
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
}
.spritz_pivot{
    color: #DE0000;
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
}
.spritz_end{
    color: #333333;
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
}
